.App {
    text-align: center;
    background-color: #f6f8fa;
    min-height: 100vh;
    color: rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul {
    list-style-type: none;
}
